html{
    height: 100%;
}

body{
    background: url("../images/background.png");
    min-height: 100%;
}

header{
    padding: 0 381.5px;
}

header img{
    width: 500px;
    height: 280px;
}

.main-content{
    width: 650px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: red;
    font-size: 22px;
    font-weight: 600;
}

.bottom-container{
    width: 300px;
    height: 300px;
    border: 5px solid blue;
    float: left;
    background-color: white;
    text-align: center;
    opacity: 0.85;
}

#left-container{
    margin-right: 50px;
}

.thumbnail img{
    opacity: 1;
    max-height: 200px;
}
